### Libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.metrics import confusion_matrix,accuracy_score

### Importing the dataset

In [2]:
data = pd.read_csv("C:/Users/Hmz/Downloads/Compressed/Predict_customer_Will_Leave_the-Bank-master/BankCustomers.csv")

In [3]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

### Dependent and independent variables

In [4]:
X = data.iloc[:, 3:13]
y = data.iloc[:, 13]

In [5]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

### Converting categorical features to dummy variables

In [6]:
states= pd.get_dummies(X['Geography'])
gender = pd.get_dummies(X['Gender'])

In [7]:
states.head(6)

   France  Germany  Spain
0       1        0      0
1       0        0      1
2       1        0      0
3       1        0      0
4       0        0      1
5       0        0      1

In [8]:
#concatenate dummies
X=pd.concat([X,states,gender],axis=1)

In [9]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain,Female,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,1,0,0,0,1
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,1,0,0,0,1
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1,0,0,1,0
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,0,1,0,0,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,1,0,0,1,0

In [10]:
#droping the columns as it is no longer required

X = X.drop(['Geography','Gender'],axis=1)

In [11]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain,Female,Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,1,0,0,1,0

### Splitting the dataset

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### Feature Scaling

In [13]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

### Creating the ANN model

In [16]:
# Initialising the ANN
classifier = Sequential()

# Adding the second hidden layer
classifier.add(Dense(activation="relu", units=6, kernel_initializer="uniform"))

# Adding the output layer
classifier.add(Dense(activation="sigmoid", units=1, kernel_initializer="uniform"))

# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
800/800 [==============================] - 1s 1ms/step - loss: 0.5115 - accuracy: 0.7959
Epoch 2/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4173 - accuracy: 0.8173
Epoch 3/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4057 - accuracy: 0.8224
Epoch 4/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3976 - accuracy: 0.8271
Epoch 5/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3911 - accuracy: 0.8270
Epoch 6/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3862 - accuracy: 0.8311
Epoch 7/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3825 - accuracy: 0.8316
Epoch 8/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3798 - accuracy: 0.8306
Epoch 9/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3774 - accuracy: 0.8306
Epoch 10/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3759 - accuracy: 0.8334
Epoch 11/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3740 - accuracy: 0.8317
Epoch 12/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3728 - accuracy: 0.8313
Epoch 13/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3717 - accuracy: 0.8315
Epoch 14/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3701 - accuracy: 0.8399
Epoch 15/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3687 - accuracy: 0.8471
Epoch 16/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3675 - accuracy: 0.8479
Epoch 17/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3664 - accuracy: 0.8493
Epoch 18/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3657 - accuracy: 0.8491
Epoch 19/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3648 - accuracy: 0.8506
Epoch 20/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3636 - accuracy: 0.8529
Epoch 21/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3632 - accuracy: 0.8504
Epoch 22/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3620 - accuracy: 0.8521
Epoch 23/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3616 - accuracy: 0.8530
Epoch 24/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3603 - accuracy: 0.8530
Epoch 25/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3605 - accuracy: 0.8545
Epoch 26/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3596 - accuracy: 0.8541
Epoch 27/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3589 - accuracy: 0.8551
Epoch 28/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3584 - accuracy: 0.8543
Epoch 29/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3578 - accuracy: 0.8519
Epoch 30/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3571 - accuracy: 0.8543
Epoch 31/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3569 - accuracy: 0.8554
Epoch 32/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3560 - accuracy: 0.8555
Epoch 33/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3555 - accuracy: 0.8565
Epoch 34/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3548 - accuracy: 0.8564
Epoch 35/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3545 - accuracy: 0.8549
Epoch 36/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3546 - accuracy: 0.8541
Epoch 37/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3542 - accuracy: 0.8553
Epoch 38/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3535 - accuracy: 0.8560
Epoch 39/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3530 - accuracy: 0.8550
Epoch 40/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3527 - accuracy: 0.8562
Epoch 41/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3522 - accuracy: 0.8561
Epoch 42/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3518 - accuracy: 0.8555
Epoch 43/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3520 - accuracy: 0.8576
Epoch 44/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3516 - accuracy: 0.8560
Epoch 45/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3510 - accuracy: 0.8554
Epoch 46/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3510 - accuracy: 0.8553
Epoch 47/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3500 - accuracy: 0.8549
Epoch 48/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3496 - accuracy: 0.8585
Epoch 49/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3497 - accuracy: 0.8572
Epoch 50/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3494 - accuracy: 0.8568
Epoch 51/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3492 - accuracy: 0.8569
Epoch 52/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3495 - accuracy: 0.8569
Epoch 53/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3492 - accuracy: 0.8564
Epoch 54/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3476 - accuracy: 0.8593
Epoch 55/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3484 - accuracy: 0.8574
Epoch 56/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3481 - accuracy: 0.8577
Epoch 57/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3476 - accuracy: 0.8579
Epoch 58/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3481 - accuracy: 0.8581
Epoch 59/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3476 - accuracy: 0.8571
Epoch 60/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3470 - accuracy: 0.8611
Epoch 61/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3467 - accuracy: 0.8587
Epoch 62/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3473 - accuracy: 0.8571
Epoch 63/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3469 - accuracy: 0.8590
Epoch 64/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3468 - accuracy: 0.8590
Epoch 65/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3467 - accuracy: 0.8574
Epoch 66/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3468 - accuracy: 0.8565
Epoch 67/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3464 - accuracy: 0.8579
Epoch 68/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3462 - accuracy: 0.8589
Epoch 69/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3456 - accuracy: 0.8594
Epoch 70/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3460 - accuracy: 0.8586
Epoch 71/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3461 - accuracy: 0.8591
Epoch 72/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3457 - accuracy: 0.8593
Epoch 73/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3454 - accuracy: 0.8581
Epoch 74/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3458 - accuracy: 0.8600
Epoch 75/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3450 - accuracy: 0.8600
Epoch 76/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3454 - accuracy: 0.8584
Epoch 77/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3453 - accuracy: 0.8604
Epoch 78/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3445 - accuracy: 0.8583
Epoch 79/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3450 - accuracy: 0.8608
Epoch 80/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3453 - accuracy: 0.8590
Epoch 81/100

800/800 [==============================] - 1s 1ms/step - loss: 0.3443 - accuracy: 0.8599
Epoch 82/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3450 - accuracy: 0.8590
Epoch 83/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3446 - accuracy: 0.8597
Epoch 84/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3449 - accuracy: 0.8586
Epoch 85/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3446 - accuracy: 0.8609
Epoch 86/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3443 - accuracy: 0.8621
Epoch 87/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3445 - accuracy: 0.8605
Epoch 88/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3443 - accuracy: 0.8591
Epoch 89/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3446 - accuracy: 0.8595
Epoch 90/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3443 - accuracy: 0.8608
Epoch 91/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3441 - accuracy: 0.8597
Epoch 92/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3433 - accuracy: 0.8608
Epoch 93/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3444 - accuracy: 0.8585
Epoch 94/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3438 - accuracy: 0.8586
Epoch 95/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3439 - accuracy: 0.8602
Epoch 96/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3438 - accuracy: 0.8591
Epoch 97/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3442 - accuracy: 0.8583
Epoch 98/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3435 - accuracy: 0.8597
Epoch 99/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3437 - accuracy: 0.8589
Epoch 100/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3437 - accuracy: 0.8583

### Making the Prediction and evaluating

In [24]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [21]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
accuracy=accuracy_score(y_test,y_pred)

In [22]:
cm

array([[1509,   86],
       [ 193,  212]], dtype=int64)

In [23]:
accuracy

0.8605